@model IEnumerable<InnDocs.iHealth.Web.UI.Areas.iHealthUser.Models.UserRepository.UrinecompPicture>
<script type="text/javascript">
    $(function () {
        $('input[name="Urienetest"]').click(function () {
            var urid = $(this).siblings(':hidden').val();
           // alert(urid);
            $.ajax({
                url: '/iHealthUser/Medwall/UrienePictureView',
                type: 'GET',
                data: { urid: urid },
                success: function (result) {
                    $('#ajaxtab').html(result).modal({
                        escClose: true,
                        position: ["2%", "30%"],
                        closeHTML: "",
                        onShow: function (e) {
                            e.container.css({ 'height': 'auto', 'width': 'auto' });
                        }

                    });
                }
            });
        });
    });
</script>
<div id="proctable">
    
    <ul class="li_color" style="margin:0px">
    @if (Model.Count() > 0)
    {     
               foreach (var value in Model)
                {
                   <li style="float:right; display: inline-block">
                      @value.CreatedOn
                           
                                <input type="hidden" name="esname" value="@value.UrieneId" />
                                <input type="button" id="Urienetest" name="Urienetest" class="viewbutton" value="View" />
                            </li>                          
                }
           
    }
    else
    {
        <text>No tests</text>
    }
        </ul>
</div>


<div id="tab" style="display: none">
</div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47299480-1', 'bumpdocs.com');
    ga('send', 'pageview');

</script>
