@model InnDocs.iHealth.Web.UI.Areas.iHealthUser.Models.UserRepository.Cases
@{
    
    var UserCasesList = ViewBag.UserCaseslist;
    var UserCaseMedTestList = ViewBag.UserCaseMedTestList;
            //var UserCaseProcList = 0;
}
<link href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#btnCancel').click(function () {
                $.modal.close();
            });
        });

        $('#dateOfMtest1').datepicker({
            changeYear: true,
            changeMonth: true
        });

        $("#_CaseId").change(function () {
            var CaseId = $(this).val();
            $.ajax({
                url: '/iHealthUser/MyDocs/CaseCheckedChanged',
                type: 'GET',
                async: false,
                cache: false,
                data: { CaseId: CaseId, type: "medtest" },
                success: function (data) {
                    $("#_medTestid").empty();
                    data = $.map(data, function (key, value) {
                        return "<option value='" + key.Value + "' >" + key.Text + "</option>";
                    });
                    $("#_medTestid").html(data.join(""));
                }
            });
        });

        $("#btnMedTestUpload").click(function () {
            var caseUploadIdValue = $("#_CaseId").val();
            if (caseUploadIdValue == "") {
                alert("Please select any case");
            }

            var medicalTestUploadIdValue = $("#medicalTestUploadId").val();
            if (medicalTestUploadIdValue == "") {
                alert("Please select file");
            }
            else {

                var CaseId = $("#_CaseId").val();
                $("#hdnCaseId").val(CaseId);
                var ProcId = $("#_medTestid").val();
                if (ProcId != 0) {
                    $.ajax({
                        url: '/iHealthUser/MyDocs/MedTestUpload',
                        type: 'POST',
                        aync: false,
                        cache: false,
                        data: new FormData($(this).parents('#MedTestUpload-form').get(0)),
                        contentType: false,
                        processData: false,
                        success: function (response, status, jqXHR) {

                            if (jqXHR.responseText = "1010") {
                                alert("Uploaded successfully");
                                $("#MedTestDiv").hide();
                                $.modal.close();
                                $('div#mtest').load('/iHealthUser/MyDocs/MtestDocuments');
                            }
                            else {
                                alert("Upload failed");
                            }
                        }

                    });
                }
                else {
                    if ($("#hdnMedTestNew").val() == "newMedTest") {
                        if ($("#txtMTestName").val() != "", $("#dateOfMtest1").val() != "") {
                            $.ajax({
                                url: '/iHealthUser/MyDocs/MedTestUpload',
                                type: 'POST',
                                aync: false,
                                cache: false,
                                data: new FormData($(this).parents('#MedTestUpload-form').get(0)),
                                contentType: false,
                                processData: false,
                                success: function (response, status, jqXHR) {

                                    if (jqXHR.responseText = "1010") {
                                        alert("Uploaded successfully");
                                        $("#MedTestDiv").hide();
                                        $.modal.close();
                                        $('div#mtest').load('/iHealthUser/MyDocs/MtestDocuments');
                                    }
                                    else {
                                        alert("Upload failed");
                                    }
                                }

                            });
                        }
                        else {
                            alert("Test name and Date of test are required.");
                        }
                    }
                    else {
                        alert("Select one medical test.");
                    }
                }
            }
        });


        //hide the block

        $("#NewMedTest").click(function () {
            $("#hdnMedTestId").val("");
            $("#_medTestid").val("");
            if ($("#txtMTestName").val() != "", $("#dateOfMtest1").val() != "") {

                $("#txtMTestName").val("");
                $("#dateOfMtest1").val("");
            }
            $("#hdnMedTestNew").val("newMedTest");
            $("#MedTestDiv").show();
        });

        $("#MedTestView").click(function () {

            var MedTestId = $("#_medTestid").val();
            if (MedTestId != 0) {
                $.ajax({
                    url: '/iHealthUser/MyDocs/MedTestView',
                    type: 'GET',
                    aync: false,
                    cache: false,
                    data: { MedTestId: MedTestId },
                    success: function (data) {

                        $("#txtMTestName").val(data.TestName);
                        $("#dateOfMtest1").val(data.DateOfTest1);
                        $("#MedTestDiv").show();

                    }
                });
            }
            else {
                alert("Select medical test.");
            }


        });
        $("#_medTestid").change(function () {
            var ProcId = $("#_medTestid").val();
            $("#hdnMedTestId").val(ProcId);
            $("#MedTestDiv").hide();
        });
    });

    
</script>
<div id="uploadDiv">
    <div id="view" style="width: 400px">
        <div style="border-bottom: 1px solid rgb(218,221,226); float: left; width: 100%">
            <h3>
                Upload a document
            </h3>
        </div>
        @*<form id="MedTestUpload-form" action="@Url.Action("MedTestUpload", "MyDocs")" enctype="multipart/form-data">*@
        <form id="MedTestUpload-form" enctype="multipart/form-data">
        <div class="upDoc">
            <ul>
                <li class="labelnormal ">Select case </li>
                <li class="lbbold">@Html.DropDownList("UserCasesDetails", (IEnumerable<SelectListItem>)UserCasesList, "Please select", new { id = "_CaseId" })</li>
                <li class="labelnormal ">
                Select medicalTest </li>
                <li class="lbbold">
                @Html.DropDownList("UserCasesMedTestDetails", (IEnumerable<SelectListItem>)UserCaseMedTestList, "Please select", new { id = "_medTestid" })
                </li>
                <li style="width: 100%;"><a id="MedTestView" class="viewmore_DOC">View</a> <a id="NewMedTest"
                    class="add_popup">New</a> </li>
                <li style="width: 100%;">
                    <div id="MedTestDiv" style="display: none">
                        <ul style="display: inline-block; padding: 0px 13px; margin: 5px 0;">
                            <li class="labelnormal ">Test name</li>
                            <li class="labelbold">
                                <input type="text" name="MedicalTests.TestName" class="create-logtxts" title="Name of the test"
                                    required id="txtMTestName" />
                            </li>
                            <li class="labelnormal ">Date of test: </li>
                            <li class="labelbold">
                                <input type="text" id="dateOfMtest1" name="MedicalTests.DateOfTest" placeholder="MM/DD/YYYY"
                                    title="Test Service Date"  class="create-logtxts" required />
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="labelnormal">Add document</li>
                <li>
                    <input type="file" id="medicalTestUploadId" name="procfiles" multiple="multiple" required />
                </li>
                <li>
                    <input type="hidden" id="hdnCaseId" name="CaseId" />
                    <input type="hidden" id="hdnMedTestId" name="MedicalTests.MedicalTestId" />
                    <input type="hidden" id="hdnMedTestNew" />
                </li>
            </ul>
        </div>
        <div style="float: right">
        <input id="btnCancel" class="graygrad btn_space" type="button" value="Cancel" />
            <input id="btnMedTestUpload" class="greengrad btn_space" type="button" value="Upload" />
            
        </div>
        </form>
    </div>
</div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47299480-1', 'bumpdocs.com');
    ga('send', 'pageview');

</script>