<script src="~/Scripts/ui.dropdownchecklist-1.4-min.js" type="text/javascript"></script>
<script src="~/CustomScripts/cases.js"></script>
<h2>
    Cases</h2>
<button>
    Click</button>
<div id="tab" style="display: none">
</div>