<div id="footer">
    <div id="fleft">
        <h6>
            <a id="mfhome" href="../HospAdmin/HospitalInfo">Home</a>&nbsp;|&nbsp; <a id="mfservices" href="#">Services</a>&nbsp;|&nbsp; <a  id="mfsupport" href="#">Support</a>&nbsp;|&nbsp; <a id="mfcontact" href="#">Contact</a>
        </h6>
    </div>
    <div id="tab" style="display: none">
    </div>
    <div id="fright">
        <div style="width: 100%; float: left;">
            <div style="width: auto; float: left; margin: 0 10px 0 0;">
                <h5>Follow us:</h5>
            </div>
            <div class="socialNetworking">
                <a class="facebook" href="http://www.facebook.com/medlogx" target="_blank" title="Facebook"></a><a class="linkedin" href="http://www.linkedin.com/company/1164512" title="LinkedIn" target="_blank" ></a><a class="twitter" href="https://twitter.com/medlogx" title="Twitter" target="_blank" ></a>
            </div>
        </div>




    </div>
    <div id="fclear">
        <h5 style="text-align: center; color: white; font: normal 1em 'Tauri',sans-serif;">&copy;2013 Medlogx. All rights reserved.
        </h5>
    </div>
</div>
