<div id="head">
    <div class="header_wrapper">
        <div class="ActivityPane">
            <span class="WelcomeUser">@Html.Partial("_Login")  </span>

        </div>

        <a href="@Url.Action("HospitalInfo", "HospAdmin")" class="logo" title="Home" ></a>

        <div class="navigation">
            <ul>



                <li>

                    <a href="@Url.Action("HospitalInfo", "HospAdmin")" class="MyInfo">Administration
                    </a>


                </li>


            </ul>


        </div>


    </div>



    <div id="mid-head">
    </div>

</div>
