@{
    ViewBag.Title = "NewPassword";
}

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('body').css({ 'background-image': 'url(../Content/img/12345.jpg)', 'width': '100%', 'background-size': 'cover', 'background-repeat': 'no-repeat' });
        });
        </script>
}
<div class="container">
    <form id="pwd" action="/Home/newpassword" method="post">
    <div class="span6 well" style="box-shadow: 0 0 5px #888888; margin-top: 50px">
        <div class="modal-header">
            <h3>
                Your new password please !</h3>
            <label style="font-weight: bold; color: Green; font-size: 11px;">@ViewBag.ErrorMessage</label>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input type="password" name="password" id="password" placeholder="New password"/>
                </div>
            </div>
            <div class="control-group">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input type="password" name="rpassword" id="" placeholder="Re-enter password"/>
                </div>
            </div>
            <input type="hidden" name="userid" value="@ViewBag.UserId" />
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
    </form>
</div>
