<div class="span6 well" style="box-shadow: 0 0 5px #888888; margin-top: 100px">
    <div class="modal-header">
        <h3>
            Your new password please !</h3>
        <label style="font-weight: bold; color: Green; font-size: 10px;">@ViewBag.ErrorMessage</label>
    </div>
    <div class="modal-footer">
        <a href="/Home/Home" class="btn btn-primary">Go to home</a>
    </div>
</div>
