@model InnDocs.iHealth.Web.UI.Areas.iHealthUser.Models.UserRepository.TipsAndQA
@{
    ViewBag.Title = "ViewTips";
}
<h2 style="background-color:#f7f7f7">
    ViewTips</h2>
<br />
<div id="Tips">
    <form action="" method="post" id="formT">
    @if (Model.lstTips.Count > 0) {

        foreach (var v in Model.lstTips) {
             
        <ul>
            <li>
                <input type="hidden" name="tipId" value="@v.TipId" /></li>
            <li>Tip:</li>
            <li>@v.Tip</li>
        </ul>
        }
    }
    <input type="submit" id="viewtips" value="OK" class="addbutton" />
    </form>
</div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47299480-1', 'bumpdocs.com');
    ga('send', 'pageview');

</script>
