 @model IEnumerable<InnDocs.iHealth.Web.UI.Areas.HospitalUser.Models.HospitalOnBoundary.HospitalInformation>
@* <table id="user1">
        <tbody>
            @foreach (var branch in )
            {

                <tr>
                        <td class="w20" align="center">@branch.BranchName
                        </td>
                        <td class="w20" nowrap="nowrap" align="center">@branch.Address
                        </td>
                       
                    </tr>
            }
        </tbody>
    </table>
*@
